.form-inline {
  display: inline-block;
  background-image: url("/src/assets/bg.jpg");
  padding: 40px 15px;
  margin: 15px;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  text-align: center;
}
input {
  display: block;
  margin: 10px;
  border-radius: 10px;
  border: 0px;
  padding: 10px;
}

h3 {
  margin: 20px 0px ;
}
.submitBtn {
  padding: 5px 15px;
  font-size: 15px;
  font-weight: 600;
  background-color: rgb(37, 146, 219);
  border-radius: 10px;
  margin: 5px;
  border: 1px solid black;
}
.changepwBtn{
  border: 0px;
  background: 0px;
  display: block;
  margin: 5px;
}
.buttons{
  display: inline-block;
}

