<h3>WELCOME</h3>
<form-container>
  <table>
      <tr>
          <td><label>FirstName</label></td>
          <td><input type="text" placeholder="firstname"></td></tr>
      <tr>
          <td><label>LastName</label></td>
          <td><input type="text" placeholder="lastname"></td></tr>
      <tr>
          <td><label>Email:</label></td>
          <td><input type="text" placeholder="Email"></td></tr>
      <tr>
          <td><label>Password:</label></td>
          <td><input type="password" placeholder="password"></td></tr>
  </table>
</form-container>
<a href="g:/workplace/student-app/src/app/login/login.component.html">already have an account</a>